<div class="col-xs-12">
    <div class="page-title">

        <div class="pull-left">
            <!-- PAGE HEADING TAG - START -->
            <h3 class="title">All Doctors</h3><!-- PAGE HEADING TAG - END -->
        </div>

        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a><i class="fa fa-home"></i>Home</a>
                </li>
                <li>
                    <a>Doctors</a>
                </li>
                <li class="active">
                    <strong>All Doctors</strong>
                </li>
            </ol>
        </div>

    </div>
</div>
<div class="clearfix"></div>
<div class="col-sm-12 col-9 text-right m-b-20" style="margin-bottom:20px;">
        <a  (click)="doctorNavigation()" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Doctor</a>
    </div>
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">All Doctors</h2>
          
        </header>
        <div class="content-body" >
            <div class="row" >
                <div class="col-xs-12">

                    <div class="row">
                        <div class="col-sm-3 col-md-3" *ngFor="let data of DoctorData">
                            <div class="team-member ">
                                    <div class="team-img" *ngIf="data.ProfileImage!=null">
                                            <img class="img-responsive"
                                                src="data:image/jpeg;base64,{{data.ProfileImage}}" alt="">
                                        </div>
                                        <div class="team-img" *ngIf="data.ProfileImage==null">
                                            <img class="img-responsive" src="../assets/images/doctor-2.jpg" alt="">
                                        </div>
                                <div class="team-info">
                                    <h3><a>{{data.FirstName}}{{data.LastName}}</a></h3>
                                    <span class="team-member-edit" (click)="profileEdit(data)"><a><i class="fa fa-pencil icon-xs"></i></a></span>
                                    <p>Age:{{data.Age}}</p>
                                    <p>Occupation:{{data.Position}}</p>
                                </div>
                                <!-- <p> The surgical specialties are the specialties in which an important part of diagnosis
                                    and treatmentby surgery. </p> -->
                                <!-- <ul class="social-icons list-inline list-unstyled">
                            <li><a href="#"><i class="fa fa-facebook icon-bordered icon-primary icon-xs"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus icon-bordered icon-primary icon-xs"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                        </ul> -->
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>
</div>